# Folders to ignore, whatever the place they are
 
.metadata
.recommenders
classes
hybris/bin/**/bin
gensrc
 
# Folders to ignore at the root of the repository
hybris/log/
 
# filter only custom extension
hybris/bin/*
!hybris/bin/custom/
 
# Absolute path to ignore
hybris/config/local.properties
hybris/config-local/local.properties
HYBRISCOMM6300P_5-70002554.zip
 
# Filename patterns to ignore
*.class
Generated*.java
platformhome.properties
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log
base.properties
!hybris/config-common/customize/*/base.properties
*.bak

#  Addon specific copy folders
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
**/addonsrc
*_bof.jar

build-tools/
c4x-integration/
datahub-hybrid-adapter/
hybris/bin/ext-*/
hybris/bin/platform/
hybris-dependencies/
hybris-ems/
hybris-sbg/
hybris-Mobile-Apps-SDK/
hybris/sampleconfigurations/
hybris/config/
hybris/temp/
hybris-oms/
hybris/Mobile-Commerce-SDK/
hybris/data/
installer/
licenses/
hybris/**/build.xml
pom.xml
**/bin/**/bin
**/gensrc/
**/items.xsd
**/beans.xsd
**/classes/
**/extensioninfo.xsd
**/*hmc.jar
**/hmc/classes/
**/hmc.xsd
**/platformhome.properties
**/*-testclasses.xml


#remove jrebel nature from git.
rebel.xml

**/eclipsebin/

# IntelliJ files
**/.idea/
hybris/out/
*.iml

# Python files
*.pyc


# Jalo Classes
hybris/bin/custom/cintasrentals/cintasrentalscore/src/com/cintas/rentals/core/jalo
hybris/bin/custom/cintasrentals/dbmessagebundles/src/com/yes/dbmessagebundles/jalo

